<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /sampleWP/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /sampleWP/index.php [L]
</IfModule>
